{{$url := (printf "%s?email=%s&amp;code=%s" .URL .Email .Code)}}

{{template "head.html" (index .Vars "title")}}
{{template "preheader.html" (index .Vars "title")}}
{{template "body_start.html"}}
{{template "logo.html"}}
{{template "text_block_start.html"}}

{{MailTextblock (MailGreeting (index .Vars "greeting")) (MailParagraph (index .Vars "text-1")) (MailParagraph .Email) (MailParagraph (index .Vars "text-2"))}}
{{MailButton $url (index .Vars "action") (index .Vars "link") (MailGoodbye (index .Vars "goodbye"))}}

{{template "text_block_end.html"}}
{{template "footer.html" .}}
{{template "body_end.html"}}
{{template "end.html"}}
