@font-face {
  font-family: 'Roboto-Mono-Regular';
  src: url('./Roboto-Mono-Regular.eot');
  src: url('./Roboto-Mono-Regular.eot') format('embedded-opentype'), url('./Roboto-Mono-Regular.woff2') format('woff2'), url('./Roboto-Mono-Regular.woff') format('woff'), url('./Roboto-Mono-Regular.ttf') format('truetype'), url('./Roboto-Mono-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
