/* For use in cards, cmd results or similar */
.preview {
    .preview-content {
        max-height: 384px;
        overflow-x: hidden;
        overflow-y: auto;

        & > div > p {
            padding: 8px 12px;
        }
    }

    .article-content {
        padding: 12px 16px;
    }
}