{{template "head.html" .}}

<div class="section-login">
	<div class="container row">
		<div class="login-card box">
			<h3 class="login-headline">
				{{index .Vars "headline"}}
			</h3>
	
			{{if .Error}}
				<p class="login-error">{{index .Vars .Error}}</p>
			{{end}}

			<form method="post">
				<div class="form--element--full form--element--blue">
					<input class="form--element--field" placeholder=" " type="input" name="email" value="{{.Email}}" autofocus />
					<label class="form--element--label no-select">{{index .Vars "email_label"}}</label>
				</div>
				<div class="row">
					<a href="/auth/login{{.Redirect}}" class="col-sm-6 col-xs-12 login-button--secondary">{{index .Vars "back_to_login"}}</a>
					<input type="submit" value="{{index .Vars "submit_button"}}" class="col-sm-6 col-xs-12 login-button--primary" />
				</div>
			</form>
		</div>
	</div>
</div>

{{template "end.html" .}}
