{{template "head.html" .}}

<div class="section-login">
	<div class="container row">
		<div class="login-card box max-width-s">
			<h3 class="login-headline">
				{{index .Vars "headline"}}
			</h3>

			{{if .Error}}
				<div class="error">{{index .Vars .Error}}</div>
			{{end}}

			<form method="post">
				<div class="form--element--full form--element--blue">
					<input class="form--element--field" placeholder=" " type="password" name="oldpwd" />
					<label class="form--element--label no-select">{{index .Vars "oldpwd_label"}}</label>
				</div>
				<div class="form--element--full form--element--blue">
					<input class="form--element--field" placeholder=" " type="password" name="newpwd1" />
					<label class="form--element--label no-select">{{index .Vars "newpwd1_label"}}</label>
				</div>
				<div class="form--element--full form--element--blue">
					<input class="form--element--field" placeholder=" " type="password" name="newpwd2" />
					<label class="form--element--label no-select">{{index .Vars "newpwd2_label"}}</label>
				</div>
				<div class="row">
					<input type="submit" value="{{index .Vars "submit_button"}}" class="login-button--primary" />
					<a href="/auth/password{{.Redirect}}" class="login-button--secondary">{{index .Vars "forgot_password"}}</a>
				</div>
			</form>
		</div>
	</div>
</div>

{{template "end.html" .}}
